<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdventure" />
                <binding name="BasicHttpBinding_ICharacter" />
                <binding name="BasicHttpBinding_IAdventure1" />
                <binding name="BasicHttpBinding_ICharacter1" />
                <binding name="BasicHttpBinding_IAdventure2" />
                <binding name="BasicHttpBinding_ICharacter2" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUser">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUser1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IUser2">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9646/SecureAdventureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdventure"
                contract="IAdventure" name="BasicHttpBinding_IAdventure" />
            <endpoint address="https://localhost:9645/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUser" contract="IUser"
                name="WSHttpBinding_IUser">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9647/SecureCharacterService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacter"
                contract="ICharacter" name="BasicHttpBinding_ICharacter" />
            <endpoint address="http://localhost:9646/SecureAdventureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdventure1"
                contract="IAdventure" name="BasicHttpBinding_IAdventure1" />
            <endpoint address="https://localhost:9645/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUser1" contract="IUser"
                name="WSHttpBinding_IUser1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9647/SecureCharacterService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacter1"
                contract="ICharacter" name="BasicHttpBinding_ICharacter1" />
            <endpoint address="http://localhost:9646/SecureAdventureService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdventure2"
                contract="IAdventure" name="BasicHttpBinding_IAdventure2" />
            <endpoint address="https://localhost:9645/SecureService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUser2" contract="IUser"
                name="WSHttpBinding_IUser2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9647/SecureCharacterService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICharacter2"
                contract="ICharacter" name="BasicHttpBinding_ICharacter2" />
        </client>
    </system.serviceModel>
</configuration>