<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <connectionStrings>
    <add name="DBContext" connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmaa0217_205856;Persist Security Info=True;User ID=dmaa0217_205856;Password=Password1!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>